/*--------------------------------------
   Variables
--------------------------------------*/

// Notes...

$black: rgb(0, 0, 0);

$white: rgb(255, 255, 255);

// Branding
// -------------------------------------

// Notes...

$green: rgb(117, 184, 75); // #75b84b
$blue: rgb(10, 94, 141); // #0a5e8d
$gray: rgb(18, 18, 18); // #121212
