/*--------------------------------------
	Content
--------------------------------------*/

// Notes...

.content {

	padding-top: 32px;
	padding-bottom: 120px;

	@media screen and (min-width: 1000px) {

		padding-top: 42px;
		padding-bottom: 140px;

	}

	.wrap {

		@media screen and (min-width: 1000px) {

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			align-content: flex-start;

		}

	}

}

		// Form

		.form {

			margin: 0 0 54px 0;

			@media screen and (min-width: 1000px) {

				order: 2;
				width: 380px;
				margin: 0;

			}

			h1 {

				text-align: center;

				@media screen and (min-width: 375px) {

					margin: 0 0 (7/22)+em 0;
					@include font-size(22);
					line-height: 31/22;

				}

				@media screen and (min-width: 440px) {

					margin: 0 0 (4/26)+em 0;
					@include font-size(26);
					line-height: 31/26;

				}

			}

			p {

				width: 100%;
				max-width: 330px;
				margin: 0 auto;
				text-align: center;

				@media screen and (min-width: 1000px) {

					max-width: none;
					margin: 0;
					@include font-size(16);
					line-height: (22/16);

				}

			}

			form {

				margin: 12px 0 0 0;

			}

				ol {

					margin: 0;
					padding: 0;

				}

					li,
					.hs-form-field {

						margin: 0 0 15px 0;

					}

						label {}

						input {}

						.hs-error-msgs {

							display: none !important;

						}

				.form-error-message {

					margin: 20px 0 0 0;
					@include lato-regular-italic;
					@include font-size(16);
					line-height: (22/16);
					text-align: center;
					color: rgb(220, 4, 6);

				}

				button,
				.hs-button {

					margin: 24px 0 0 0;

				}

		}

		// Overview

		.overview {

			@media screen and (min-width: 1000px) {

				order: 1;
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: 0;
				padding: 0 80px 0 0;

			}

			h2 {

				margin: 0 0 (16/37)+em 0;
				text-align: center;

				@media screen and (min-width: 1000px) {

					text-align: left;

				}

			}

			p {

				@media screen and (min-width: 1000px) {

					margin: 0 0 (12/16)+em 0;
					@include font-size(16);
					line-height: (22/16);

				}

			}

			ul {

				@media screen and (min-width: 1000px) {

					margin: (18/16)+em 0;
					@include font-size(16);
					line-height: (22/16);

				}

			}

				li {}

			.move {

				margin: 33px 0 0 0;

				@media screen and (min-width: 1000px) {

					display: none;

				}

				a {

					&:hover {}

				}

			}

		}
