/*--------------------------------------
	Footer
--------------------------------------*/

// Notes...

.footer {

	padding-top: 16px;
	padding-bottom: 16px;
	color: $white;
	background: $gray;

	.wrap {}

}

		.copyright {

			margin: 0;
			@include font-size(12);
			line-height: 16/12;
			text-align: center;

		}
